<div class="container" [dir]="'dir' | translate">
    <h1 class="mt-3">{{'Suggestion' | translate}}</h1>


    <ng-container *ngIf="suggestions$ | async as suggestions">
        <table datatable [dtOptions]="dtOptions" class="row-border hover ">
            <thead>
                <tr>
                    <th>{{'companyname' | translate}}</th>
                    <th>{{'address' | translate}}</th>
                    <th>{{'titleOfSuggestion' | translate}}</th>
                    <th>{{'descriptionOfSuggestion' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let suggestion of suggestions">
                    <td>{{suggestion.company.name}}</td>
                    <td>{{suggestion.company.address}}</td>
                    <td>{{suggestion.subject}}</td>
                    <td>{{suggestion.description}}</td>
                    <td>
                        <a href="mailto:{{suggestion.company.email}}" class="btn btn-success">{{'SendEmail' |
                            translate}}</a>
                    </td>
                </tr>

            </tbody>

        </table>

    </ng-container>

</div>